
body {
  background-color: #f1f5f8;
}

.card {
  width: 90vw;
  max-width: 1170px;
  display: grid;
  margin: 1rem auto;
}
.card-list{
  background-color: #ffff;
  margin:1rem ;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 1.5s;
}
:hover.card-list{
  border:1px solid #e3dfdfd2 ;
}
img{
  width:150px
}
@media screen and (min-width:700px) {
  .card {
    grid-template-columns: repeat(3,1fr);
  }
}
